@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #CAEDF7;
  color: #000;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.label {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}
